body {
    color: rgb(57, 27, 41);
    background-color: bisque;
    background-size: auto;
    font-size: x-large;
}


h1 {
    background-color: rgb(243, 239, 246);
    font-style: italic;
    font-size: medium;
    font-size: xx-large;
}
